* {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  font-family: 'Work Sans', sans-serif;
  background-color: white;
  padding: 20px;
  text-align: right;
  position: fixed;
  margin: auto;
  width: 100%;
  z-index: 99
  top: 15px;
}
