* {
  margin: 0;
  padding: 0;
  border: 0;
}

h2,
h3,
h4,
h5,
h6,
p  {
  font-family: 'Work Sans', sans-serif;
  padding: 8px;
}

/*=================================
*
*
            header
*
*
*=================================*/

header {
  background: white;
  position: fixed;
  left: 0;
  right: 0;
  padding: 10px 0;
  text-align: right;
}

header nav ul li {
  display: inline;
  font-family: 'Work Sans', sans-serif;
}

header nav a {
  color: purple;
  text-decoration: none;
  display: inline;
  font-size: 24px;
  margin: 0 20px;

}

h1 {
  font-family: 'Work Sans', sans-serif;
  color: purple;
  font-size: 32px;
  margin: -32px 75px;
  position: fixed;
  z-index: 99;
}

header nav a:hover {
  text-decoration: underline;
}

p::selection {
 color: white;
 background-color: purple;
}

h2::selection {
 color: white;
 background-color: purple;
}

/*=================================
*
*
            hero image section
*
*
*=================================*/
.hero-image-section {
  background-image: url('../images/homepage-background.png');
  background-attachment: fixed;
  padding: 200px 0 600px;
  background-size: cover;
}

.logo {
  max-width: 500px;
  float: right;
  margin: -179px 0px;
}
/*=================================
*
*
            container
*
*
*=================================*/

/*=================================
*
*
            music
*
*
*=================================*/
.music {
  background-image: url('../images/music-background.png');
  text-align: left;
  padding: 100px 0 100px;
  background-size: cover;
  color: white;
}

.music h2 {
  text-align: right;
}

.music-container {
  max-width: 800px;
  margin: auto;
}

.music-text {
  margin-top: 30px;
}

/*=================================
*
*
            about
*
*
*=================================*/
.about {
  background-image: url('../images/about-background2.png');
  text-align: left;
  padding: 100px 0 175px;
  background-size: cover;
  color: white;
}

.about h2 {
  text-align: right;
}
.about-text {
  float: right;
  width: 450px;
  height: 100px;
  margin-right: 50px;
  margin-top: 100px;
}
.wala-headshots img {
  width: 250px;

}

.wala-headshots {
  display: inline-block;
}

.wala-members {
  text-align: left;
  margin: 105px 160px
}

/*=================================
*
*
            section break
*
*
*=================================*/

.sectionbreak {
  background-image: url(../images/section-break.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 300px 0;
}

/*=================================
*
*
            events
*
*
*=================================*/
.events {
  background-image: url('../images/events-background.png');
  text-align: left;
  padding: 80px 0 660px;
  background-size: cover;
}

.events-text {
  float: left;
  width: 550px;
  height: 100px;
  margin-left: 50px;
  margin-top: 100px;
  color: white;
}

.events-text p {
  text-decoration: underline;
}
/*=================================
*
*
            section break
*
*
*=================================*/

.sectionbreak2 {
  background-image: url(../images/section-break2.jpg);
  background-attachment: fixed;
  background-size: cover;
  padding: 300px 0px;
}

/*=================================
*
*
            contact
*
*
*=================================*/
.contact {
  background-image: url('../images/contact-background.png');
  text-align: left;
  padding: 300px 0 310px;
  background-size: cover;
}
